.navbar {
  background-color: #0a58ca;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 25px;
  font-weight: bold;
}
.logo{
  margin-right: 25px;
}




