.navbar {
  background-color: #0a58ca;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 25px;;
  font-weight: bold;
}

.navbar {
  background-color: #0a58ca;
  padding: 15px 25px;
  display: flex;
  justify-content: flex-end; /* move menu to right */
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
  font-size: 16px;
}

.navbar a:hover {
  text-decoration: underline;
}


